# Exclude source code from release archives
src/ export-ignore
lib/ export-ignore
test/ export-ignore
android/ export-ignore
ios/ export-ignore
macos/ export-ignore
linux/ export-ignore
windows/ export-ignore
web/ export-ignore 